/* Global */

html,
body {
	margin: 0;
	padding: 0;
}

* {
	border-radius: 0 !important;
}
.white-text {
	color: white;
}

.feature-image {
	width: 100%;
	height: 270px;
	margin-top: 90px;
	text-align: center;
	display: table;
	table-layout: fixed;
}

.feature-image .container {
	display: table-cell;
	vertical-align: middle;
}


.wrapper {
	min-height: 100%;
	position: relative;
}

.body {
	padding-bottom: 150px;
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-color: #000;
}

.heading {
	text-align: center;
	padding-top: 140px;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.bg-visible {
	background: rgba(0, 0, 0, 0.5);
}

/* Staff */

#staff-bg {
	background: url('../img/room.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

#staff img {
	width: 300px;
	height: 198px;
}

#staff {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#staff .container {
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
		padding-top: 50px;
	}


#staff img {
	float: left;
	margin-right: 70px;
	margin-bottom: 10px;
}

.ministry {
	padding-bottom: 200px;
}

.padding-top {
	padding-top: 200px;
}

.staff-row {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* OUTREACH */

#outreach-bg {
	background: url('../img/city4.jpg') no-repeat center center;
	background-size: cover;
	background-position: center;
}

#outreach-section img {
	width: 300px;
	height: 198px;
}

#outreach-section {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#outreach-section .container {
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
}

/* COMMUNITY */

#comm-bg {
	background: url('../img/community-full.jpg') no-repeat center center;
	background-size: cover;
}

#community-section img {
	width: 300px;
	height: 198px;
}

#community-section {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#community-section .container {
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
}

/* BELIEFS */

#beliefs-bg {
	background: url('../img/bible-coffee.jpg') no-repeat center center;
	background-size: cover;
}

.margin-bottom {
	margin-bottom: 100px;
}

.beliefs-container {
	padding-top: 50px;
}

#beliefs-section img {
	width: 300px;
	height: 198px;
}

#beliefs-section {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#beliefs-section .container {
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
}